@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<style>

    .frontImage {
        width: 100%;
        height: 95vh;
        background-repeat: no-repeat;
        background-size: contain;
    }
</style>
<div class="">
    <div class="">
        <img src="~/Images/home_logo.jpg" class="frontImage"/>
    </div>
   
</div>
